$main-color: #FED330;
$second-color: #FD9644;
$third-color: #50637A;
$dark-color: #434343;
$light-color: #FFFFFF;
$alt-third-color: rgba(80, 99, 122, 0.7);
$alt-light-color: rgba(255, 255, 255, 0.5);
$font-family: Montserrat, sans-serif

